@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--fern-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --timberwolf: #dad7cdff;
    --sage: #a3b18aff;
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;
  }
}

body {
  background: var(--background);
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about,
footer,
.nav {
  color: black;
  background-color: var(--sage);
}

.about a {
  color: white;
}

.about a:hover {
  background-color: var(--sage);
  color: black;
  font-weight: light;
}

.nav a {
  color: black;
  text-decoration: none;
}

.logo-box,
.login-form {
  background-color: var(--sage);
}

.login-button:hover,
.create-account-button:hover {  
  background-color: var(--fern-green);
}