@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: var(--tea-green);
  --background: var(--rich-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --rich-black: #001412ff;
    --dark-cyan: #008f88ff;
    --tea-green: #c0dfa1ff;
    --hunter-green: #3f6634ff;
    --pakistan-green: #0a330fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
