@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: var(--tea-green);
  --background: var(--rich-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --rich-black: #000000;
    --dark-cyan: #00CCC2;
    --tea-green: #c0dfa1ff;
    --hunter-green: #3f6634ff;
    --pakistan-green: #0a330fff;
  }
}

body {
  color: var(--rich-black);
  background: var(--background);
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about, footer{
  color: white;
  background-color: var(--pakistan-green);
}

.about a{
  color: white
}

.about a:hover{
  background-color: var(--pakistan-green);
}

.nav{
  color: white;
  background-color: var(--pakistan-green);
}

.nav a{
  color: white;
  text-decoration: none;
}

footer{
  color: white;
}

.logo-box, .login-form{
  background-color: var(--pakistan-green);
}